@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
    --background: rgba(0, 214, 170, .70);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.content {
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333333;
    background-size: cover;
    background-blend-mode: multiply;
    height: 250vh;
    display: grid;
    place-items: center;
    color: aquamarine;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.logo {
    margin-top: 1em;
    margin-bottom: 1em;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 350ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-left: 1em;
    margin-top: 1em;
}

nav li:last-child {
    margin-bottom: 1em;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
}

nav a:hover,
nav a:focus {
    color: #000000; 
}

.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid black;
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    width: 2.5em;
    background: white;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 8px;
}

.nav-toggle-label span::after {
    top: 8px;
}


@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column:  3/ 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0.5em;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before,
    nav a::after {
        content: "";
        display: block;
        background-color: #000000;
        height: .3em;
        position: absolute;
        right: 0;
        left: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 300ms;
    }

    nav a::after {
        bottom: -.75em;
    }

    nav a::before {
        top: -.75em;
    }

    nav a:hover::before,
    nav a:hover::after {
        transform: scale(1, 1);
    }
}