@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Teko:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --color-one: #ad7b89; /*header-footer*/
    --color-two: #3C6E71;   /*card*/
    --color-three: #FFFFFF; /*text content*/
    --color-four: #F0F3FA;  /*sidebar*/
    --color-five: #284B63; /*hero*/
    --color-six: #deb42e;   /*text title*/
    --color-seven: #FFF0F3;
}

body {
    line-height: 1.6;
    color: var(--color-five);
    background-color: var(--color-seven);
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 30vh 1fr auto 1fr 10em;
    grid-template-columns: 1fr minmax(30em, 4fr) minmax(15em, 2fr) 1fr;
    grid-template-areas: 
        "header header header header"
        ". main . ."
        ". main side ."
        ". main . ."
        "footer footer footer footer"
    ;
    grid-gap: 2em;
}

header,
footer {
    grid-area: header;
    background-image: url("/8. Grid Layout/images/background.jpg");
    background-color: var(--color-one);
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

main {
    grid-area: main;
}

aside {
    grid-area: side;
    background-color: var(--color-four);
    padding: 4em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-title {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 1em;
}

.card {
    background-color: var(--color-seven);
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content auto;
    grid-template-areas: 
        "img title"
        "img content"
    ;
}

.card-img {
    grid-area: img;
    width: 100%;
    border: solid 3px;
}

.card-title {
    grid-area: title;
    margin-left: 1em;
}

.card-content {
    grid-area: content;
    grid-column: 1 / 3;
    background-color: rgba(60, 110, 113, .9);
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    margin: 2em 6em;
    padding: 2em;
    color: var(--color-four);
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: 
        "text button"
    ;
    justify-content: center;
    align-items: center;
}

.card-text {
    grid-area: text;
}

a {
    text-decoration: none;
    color: var(--color-two);
    display: inline-block;
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #f2cc8f;
    font-weight: 900;
    outline: solid 2px var(--color-two);
    outline-offset: -8px;
    transition: all 300ms ease-in-out;
    grid-area: button;
}

a:hover,
a:focus {
    outline: solid 2px var(--color-two);
    background-color: var(--color-six);
}

footer {
    grid-area: footer;
}

.header-title,
.footer-title,
.header-subtitle,
.main-title {
    font-family: 'Teko', sans-serif;
    letter-spacing: .3.5rem;
    text-transform: uppercase;
    font-size: 5.5rem;
    font-weight: 500;
}

.header-title {
    font-size: 7rem;
    margin-left: .5em;
}

.header-subtitle {
    font-size: 3rem;
    position: relative;
}

.header-subtitle::after {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    background-color: var(--color-five);
    position: absolute;
    top: 1.5em;
    left: 0;
}

.main-title {
    font-size: 2.5rem;
}

