*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #dedede;
}

.container {
  width: 500px;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.color-one {
  background-color: #000000;
}

.color-two {
  background-color: #DE0002;
}

.color-three {
  background-color: #FFCE00;
}

